body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a.active {
  color: #1e88e5;
  text-decoration: none;
}

#root {
  padding: 0;
  margin: 0;
}

.nav {
  position: absolute;
  top: 0;
  background-color: #f5f5f5;
  display: flex;
  font-size: calc(10px + 2vmin);
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
}

.nav-item {
  padding: 0;
  margin: 0;
  border: 0;
}

.nav-item a {
  display: block;
  margin: 0;
  padding: 5px 25px;
  border-right: 1px #e0e0e0 solid;
}

.nav-item a.selected {
  background-color: #1e88e5;
  color: #ffffff;
}

.app-content {
  color: #282c34;
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 20px;
  padding: 0;
}

.app-content .text-block {
  margin-top: 10px;
  text-align: center;
}

.loading-page {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 500px;
  background: white;
  border: 1px solid #e0e0e0;
  opacity: 1;
  visibility: visible;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
}
.modal .modal-title {
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  margin: 0;
}
.modal .modal-content {
  display: flex;
  justify-self: start;
  align-self: flex-start;
  padding: 0 10px 10px 10px;
}

.modal .modal-actions {
  display: flex;
  justify-self: start;
  align-self: flex-start;
  border-top: 1px solid #e0e0e0;
  background: #ffffff;
  padding: 10px;
}
.modal .modal-actions button {
  border: 0;
  color: #ffffff;
  background: #1e88e5;
  border-radius: 2px;
  padding: 10px 20px;
}

@media all and (max-width: 700px) {
  .nav {
    justify-content: center;
    flex-direction: column;
  }
  .nav-item,
  .nav-item a {
    display: flex;
    width: 100%;
  }
  .app-content {
    display: flex;
    margin-top: 60px;
  }
}
